body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body,
html{
background: rgb(238,187,195);
background: radial-gradient(circle, rgba(238,187,195,1) 0%, rgba(184,193,236,1) 94%);
}

h2 {
  font-size:  2.5rem;
  color: #ffffff;
}

/*hr {
  border-color: #ffffff;
  background-width: 3px;
  mad-width: 65px;
}*/

.btn {
  font-weight:  700px;
  border-radius:  300px;
  text-transform: uppercase;
}

.btn-outline-light {
  background-color: #bac1eb;
  border-color: #bac1eb;
}

.btn-outline-light:hover {
  background-color: #e7bcc8;
  border-color: #bac1eb;
  border-width: 4px;
  color: white;

}

.btx-xl {
  padding: 1rem 2rem;
}